{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block body %}
    <div class="container text-center w-50 p-3 rounded-3 mt-5 card-form">
    <h1>Criar nova conta</h1>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            <div class='mx-auto'>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class='align-middle'>
                <a href="{{ path('register_terms') }}" target='_blank'>Termos</a>

                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        {{ form_end(registrationForm) }}
    <div>
{% endblock %}
