{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block body %}
    <h1>Criar nova conta</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <a href="{{ path('register_terms') }}" target='_blank'>Termos</a>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    {{ form_end(registrationForm) }}
{% endblock %}
