{% extends 'base.html.twig' %}

{% block title %}
    Descrição {{ movie.title }}
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">

        <div class="card_description">
            <h1>{{ movie.title }}</h1>

            <img src='https://picsum.photos/300/350' class="rounded img-thumbnail img-fluid mt-2">

            <p class='mt-4'>
                {{ movie.title }} é um filme {{ movie.description }} tem a duração de {{ movie.duration }}min 
                e foi dirigido por {{ movie.director.firstName }} {{movie.director.lastName}}.
            </p>
            <p>
                O filme tem nota 
                {% for i in 1.. movie.reviewRating %}
                    ⭐
                {% endfor %}
            </p>
        <div>
    </div>
{% endblock %}
