{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <div class="container text-center w-50 border p-3 rounded-3 mt-5">
        <h1 class='mt-3'>{{ title }}</h1>
        {{ form_start(movie_form) }}
        {# {{ form_widget(movie_form) }} #}
        {# O que widget ta fazendo? #}
        {{ form_end(movie_form) }}
        <a href='{{ path("movie_index") }}' class='btn btn-primary mt-3 w-100'>Cancelar</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    $(document).ready(function(){
        $('#movie_release_date').mask('00/00/0000');
    });
    </script>

{% endblock %}