{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}

            <button type="submit">
                Salvar
            </button>
        </div>

        <br>

    {{ form_end(form) }}

    <div>
        {% for movie in movies %}
            <div>
                <li>
                    {{ movie.name }}
                </li>

                <form action="/movie/edit" method="POST">
                    <input type="hidden" name="id" value={{ movie.id }} />
                    <input type="text" name="movie" />
                    <input type="submit" value="editar" />
                    
                    <button type="submit">
                        <a href="/movie/delete/{{movie.id}}">Deletar</a>
                    </button>
                </form>

            </div>
        {% endfor %}
    </div>

{% endblock %}
