{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        <div>
            {{ form_row(form.name) }}

            <button type="submit">
                Salvar
            </button>
        </div>

        <br>

        <div>
            {% for movie in movies %}
                <li>
                    {{ movie.name }}

                    <button type="submit">
                        <a href="/movie/delete/{{movie.id}}">Deletar</a>
                    </button>
                </li>
            {% endfor %}
        </div>

    {{ form_end(form) }}

{% endblock %}
